<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skeleton - Free Bulma template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<body>
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link "Brand", to: page_path(@conn, :index), class: "navbar-item" %>
      </div>
      <span class="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="navbar-end navbar-menu">
        <a class="navbar-item is-tab is-active">
          Home
        </a>
        <a class="navbar-item is-tab">
          Features
        </a>
        <a class="navbar-item is-tab">
          Team
        </a>
        <a class="navbar-item is-tab">
          Help
        </a>
        <div class="navbar-item">
          <div class="field is-grouped">
            <div class="control">
              <%= link "Log in",  to: session_path(@conn, :new), class: "button" %>
              </div>
              <div class="control">
              <%= link "Sign up",  to: registration_path(@conn, :new), class: "button is-info" %>
            </div>
          </div>
        </div>
      </div>
  </nav>
  <section class="section">
    <div class="container content">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </section>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
