<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog Panel 45 DH(y) Kraal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
</head>
<body>
  <div class="columns">
    <aside class="column is-2 aside hero is-fullheight is-hidden-mobile">
      <div class='main'>
        <div class='title'>Blog Panel</div>
      </div>
    </aside>
    <div class="column is-10 admin-panel">
      <nav class="nav has-shadow" id="top">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../index.html">
              <!-- <img src="../images/bulma.png" alt="Description"> -->
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu is-hidden-tablet">
          
          </div>
        </div>
      </nav>
      <section class="hero is-small">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              CMS Panel
            </h1>
            <h2 class="subtitle">
              Panel do zarzadzania treścia na stronie.
            </h2>
          </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <%= if assigns[:header_data] && length(assigns[:header_data]) > 0 do %>

        <div class="hero-foot">
          <nav class="level">
            <%= for {header_data_name,header_data_value}  <- assigns[:header_data] do %>
            <div class="level-item has-text-centered">
              <p class="heading"><%=header_data_name %></p>
              <p class="title"><%=header_data_value %></p>
            </div>
            <% end %>
          </nav>
        </div>
        <% end %>
      </section>
      <section class="section">
<%= render @view_module, @view_template, assigns %>
          </section>
        </div>
    </div>
  </section>
</div>
</div>
<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
</body>
</html>
