<div class='columns is-multiline is-mobile'>
  <%= for post <- @posts do %>
    <article class='column is-two-thirds-tablet is-one-third-desktop'>
      <h1><%= post.title %></h1>
      <h2><%= post.author.first_name %> <%= post.author.last_name %></h2>
      <h2><%= post.published_at %></h2>
      <%= link "Go to post", to: post_path(@conn, :show, post.slug) %>
    </article>
  <% end %>
</div>
